.my-container3{
.ml-280 {
	margin-left: 17.5rem;
}

.ml-175 {
	margin-left: 10.94rem;
}

.ml-120 {
	margin-left: 7.5rem;
}

.ml-119 {
	margin-left: 7.44rem;
}

.mt-17 {
	margin-top: 1.06rem;
}

.ml-306 {
	margin-left: 19.13rem;
}

.ml-339 {
	margin-left: 21.19rem;
}

.mt-15 {
	margin-top: 0.94rem;
}

.mt-23 {
	margin-top: 1.44rem;
}

.ml-19 {
	margin-left: 1.19rem;
}

.mt-31 {
	margin-top: 1.94rem;
}

.page {
	padding: 1.25rem 1.88rem 2rem;
	background-color: #f8f5fa;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.section {
	padding: 0.75rem 1.25rem 0.5rem;
	background-color: #252525;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;
	height: 3.75rem;
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	position: relative;
	left: 85px;
	top: 20px;
}

.text {
	color: #ffc300;
	font-size: 1.5rem;
	font-family: Pacifico;
	line-height: 1.98rem;
}

.section_2 {
	position: relative;
	left: 135px;
	top: 13px;
}

.section_3 {
	background-color: #d9d9d9;
	width: 0.031rem;
	height: 2rem;
}

.view {
	margin-left: 0.75rem;
}

.font {
	font-size: 1.25rem;
	font-family: PingFang TC;
	line-height: 1.17rem;
	color: #ffffff;
}

.text_2 {
	margin-left: 1rem;
	line-height: 1.17rem;
}

.view_2 {
	margin-left: 0.88rem;
}

.text_3 {
	margin: 0 1.13rem;
	line-height: 1.16rem;
}



.view_3 {
	margin-left: 1rem;
}

.group {
	margin-top: 1.5rem;
	margin-bottom: -50px;
}

.font_2 {
	font-size: 1.25rem;
	font-family: PingFang TC;
	line-height: 1.17rem;
	font-weight: 600;
	color: #3b3b3b;
}

.text_4 {
	line-height: 1.18rem;
	position: relative;
	left: 95px;
}

.text_5 {
	line-height: 1.17rem;
	position: relative;
	left: -105px;
}

.text_6 {
	line-height: 1.16rem;
	position: relative;
	left: -50px;
}

.group_2 {
	margin-top: 0.88rem;
}

.image-wrapper {
	padding: 2.25rem 0;
	background-color: #ffffff;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;
	width: 17.56rem;
	height: 18.94rem;
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	position: relative;
	left: 40px;
}

.image1 {
	position: relative;
	top: 1px;
}

.image2 {
	width: 13.94rem;
	height: 14.56rem;
}

.image3 {
	position: relative;
	right: 80px;
	top: 3px;
}

.image4 {
	position: relative;
	right: 110px;
	top: 3px;
}

.image5 {
	position: relative;
	right: 140px;
	top: 3px;
}

.image6 {
	position: relative;
	right: 170px;
	top: 3px;
}

.image7 {
	position: relative;
	right: 200px;
	top: 3px;
}

.image8 {
	position: relative;
	top: -19px;
	left: 165px;
}

.image9 {
	position: relative;
	vertical-align: middle;
}

.image10 {
	margin-bottom: -53px;
	position: relative;
	top: -23px;
	left: 370px;
}

.image11 {
	margin-bottom: -53px;
	position: relative;
	top: -23px;
	left: 360px;
}

.section_4 {
	padding: 2.25rem 1.5rem 2.38rem;
	background-color: #ffffff;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;
	height: 18.94rem;
	width: 30%;
	min-width: 30%;
	max-width: 30%;
	/* 使用百分比宽度 */
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	position: relative;
	left: 32px;
}


.font_3 {
	font-size: 1.25rem;
	font-family: PingFang TC;
	line-height: 1.17rem;
	color: #3b3b3b;
}

.text_7 {
	line-height: 1.15rem;
	letter-spacing: 2.5rem;
	position: relative;
	top: -35px;
}

.font_4 {
	font-size: 1rem;
	font-family: PingFang TC;
	line-height: 0.91rem;
	color: #3b3b3b;
}

.text_8 {
	line-height: 0.92rem;
	position: relative;
	left: -145px;
	top: -35px;
}

.font_5 {
	font-size: 1.25rem;
	font-family: PingFang TC;
	letter-spacing: 0.63rem;
	line-height: 1.17rem;
	color: #3b3b3b;
}

.text_10 {
	line-height: 1.15rem;
	position: relative;
	top: -80px;
}

.text_11 {
	line-height: 0.92rem;
	position: relative;
	left: 7px;
	top: -80px;
}

.text_12 {
	line-height: 0.88rem;
	position: relative;
	left: -117px;
	top: -125px;
}

.text_14 {
	line-height: 1.15rem;
	position: relative;
	top: -163px;
}

.text_17 {
	line-height: 0.92rem;
	position: relative;
	left: -107px;
	top: -165px;
}

.text_18 {
	line-height: 1.16rem;
	position: relative;
	top: -202px;

}

.text_19 {
	line-height: 0.92rem;
	position: relative;
	top: -205px;
	left: -104px;
}

.text_21 {
	line-height: 1.18rem;
	letter-spacing: 2.5rem;
	position: relative;
	top: -225px;
}

.section_5 {
	padding: 2.25rem 1rem 2.25rem 1.25rem;
	background-color: #ffffff;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;
	height: 18.94rem;
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	position: relative;
    left: 22px;
}

.text_9 {
	line-height: 0.93rem;
}

.group_3 {
	padding-left: 3.13rem;
	padding-right: 0.13rem;
}

.text_13 {
	line-height: 0.91rem;
	position: relative;
	top: -10px;
}

.group_4 {
	padding-left: 3rem;
}

.text_15 {
	line-height: 0.92rem;
	position: relative;
	left: 11px;
	top: -40px
}

.text_16 {
	line-height: 0.92rem;
	position: relative;
	left: -10px;
	top: -40px
}

.text_20 {
	line-height: 0.92rem;
	position: relative;
	top: -20px;
	left: 3px;
}

.text_22 {
	line-height: 0.92rem;
	position: relative;
	left: -30px;
	top: -50px
}

.text_23 {
	line-height: 1.18rem;
	position: relative;
	left: 95px;
}

.text_24 {
	margin-right: 21.63rem;
	line-height: 1.18rem;
	position: relative;
	left: 80px;
}

.section_6 {
	padding: 0.73rem 1rem;
	background-color: #ffffff;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;

	height: 18.56rem;
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	padding-left: 10px;

	flex: none;
	/* 取消自动扩展 */
	width: 770px;
	position: relative;
	left: 85px;
}

.text_25 {
	line-height: 1.17rem;
}

.text_27 {
    color: #3b3b3b;
    font-size: 4.38rem;
    font-family: Roboto;
    font-weight: 900;
    line-height: 3.2rem;
}

.section_7 {
	padding: 6.38rem 0 5.75rem;
	background-color: #ffffff;
	border-radius: 0.63rem;
	box-shadow: 0rem 0.31rem 1.25rem #b5af9826;
	width: 20.75rem;
	height: 18.56rem;
	border-left: solid 0.063rem #d9d9d9;
	border-right: solid 0.063rem #d9d9d9;
	border-top: solid 0.063rem #d9d9d9;
	border-bottom: solid 0.063rem #d9d9d9;
	position: relative;
	left: 80px;
}

.slidecontainer1 {
	position: relative;
	left: 80px;
	top: -15px;
}

.slidecontainer2 {
	position: relative;
	left: 80px;
	top: -25px;
}

.slidecontainer3 {
	position: relative;
	left: 80px;
	top: -35px;
}

/* Slide container styling */


/* Slider styling */
.slider {
	-webkit-appearance: none;
	/* Remove default slider styles for Webkit browsers */
	width: 70%;
	height: 15px;
	background: #FFC300;
	/* Track color */
	border-radius: 10px;
	outline: none;
	/* Remove focus outline */
	opacity: 0.7;
	/* Slightly transparent */
	transition: opacity 0.3s;
}

.slider:hover {
	opacity: 1;
	/* Fully opaque on hover */
}

/* Slider thumb (the handle) styling */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Remove default thumb styles for Webkit browsers */
	appearance: none;
	width: 25px;
	/* Thumb width */
	height: 25px;
	/* Thumb height */
	border-radius: 50%;
	/* Make it a circle */
	background: #FFFFFF;
	/* Thumb color */
	cursor: pointer;
	/* Cursor on hover */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	/* Add a subtle shadow */
	transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
	background: #F0D5A5;
	/* Change color on hover */
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #F0D5A5;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	transition: background 0.3s;
}

.slider::-moz-range-thumb:hover {
	background: #F0D5A5;
}


.text_31 {
	position: relative;
	left: 21px;
	top: -30px
}

.text_32 {
	position: relative;
	left: -30px;
	top: -30px
}

.text_33 {
	position: relative;
	left: 21px;
	top: -50px
}

.text_34 {
	position: relative;
	top: -250px;
	left: 178px;
}

.text_35 {
	position: relative;
	top: -125px;
}

.selector_1 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -40px;
	left: 10px;
}

.selector_2 {
	display: flex;
	align-items: center;
	width: 20px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -80px;
	left: 11px;
}

.selector_3 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -120px;
	left: 40px;
}

.selector_4 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -165px;
	left: 50px;
}

.selector_5 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -205px;
	left: 50px;
}

.value {
	margin: 0 10px;
	width: 50px;
	text-align: center;
}

button {
	padding: 5px 10px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.image {
		top: 30px;
	}

	.login-form {
		top: 50px;
	}
}

@media (max-width: 480px) {
	.image {
		width: 70%;
		/* 在小屏幕上扩大图片宽度 */
	}

	.login-form {
		width: 90%;
		/* 在小屏幕上扩大表单宽度 */
		top: 30px;
	}

	.manage-button {
		width: 70%;
		/* 在小屏幕上扩大按钮宽度 */
	}
}
}