.ml-35 {
	margin-left: 35px;
	height: 300px;
	position: relative;
	top: -10px;
}

.ml-118 {
	margin-left: 118px;
	height: 300px;
}

.mt-27 {
	margin-top: 27px;

}

.mt-15 {
	margin-top: 15px;
}

.mt-39 {
	margin-top: 39px;
}

.mt-17 {
	margin-top: 17px;
}

.mt-21 {
	margin-top: 21px;
}

.mt-13 {
	margin-top: 13px;
}

.mt-23 {
	margin-top: 23px;
}

.ml-19 {
	margin-left: 19px;
}

.mt-33 {
	margin-top: 33px;
}



.page {
	padding: 20px 30px 32px;
	background-color: #f8f5fa;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.section {
	padding: 12px 22px;
	background-color: #252525;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #b5af9826;
	width: 365px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	position: relative;
	left: 5px;
}

.section_2 {
	background-color: #d9d9d9;
	width: 0.5px;
	height: 32px;
}

.view {
	margin-left: 100px;
	margin-right: 20px;
}

.font {
	font-size: 20px;
	font-family: PingFang TC;
	line-height: 18.5px;
	color: #ffffff;
}

.text {
	margin-right: 18px;
	line-height: 18.5px;
}

.view_2 {
	margin-right: 20px;
}

.text_2 {
	line-height: 18.5px;
}

.font_2 {
	font-size: 20px;
	font-family: PingFang TC;
	line-height: 18.5px;
	font-weight: 600;
	color: #3b3b3b;
}

.text_3 {
	margin-top: 24px;
	line-height: 19px;
}

.section_3 {
	margin-top: 14px;
	padding: 30px 38px 20px 42px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #b5af9826;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	height: 80%;
	width: 100%;
}

.image1 {
	position: relative;
	left: 80px;
	top: 3px;
}

.image2 {
	margin: 4px 0;
	width: 220px;
	height: 230px;
	position: relative;
	top: 30px;
}

.image3 {
	position: relative;
	right: 80px;
	top: 3px;
	cursor: pointer;
}

.image4 {
	position: relative;
	right: 110px;
	top: 3px;
	cursor: pointer;
}

.image5 {
	position: relative;
	right: 140px;
	top: 3px;
	cursor: pointer;
}

.image6 {
	position: relative;
	right: 170px;
	top: 3px;
	cursor: pointer;
}

.image7 {
	position: relative;
	right: 200px;
	top: 3px;
	cursor: pointer;
}

.image8 {
	position: relative;
	right: 340px;
	top: 65px;
	cursor: pointer;
}

.group {
	padding: 6px 0 2px;
	width: 162px;
	border-left: solid 1px #d9d9d9;
}

.font_3 {
	font-size: 20px;
	font-family: PingFang TC;
	line-height: 18.5px;
	color: #3b3b3b;
}

.text_4 {
	line-height: 18.5px;
	letter-spacing: 40px;
	position: relative;
	top: 2px;
}

.font_6 {
	font-size: 20px;
	font-family: PingFang TC;
	letter-spacing: 10px;
	line-height: 18.5px;
	color: #3b3b3b;
}

.text_9 {
	line-height: 18.5px;
	position: relative;
	bottom: 50px;
	right: 15px;
}

.text_13 {
	line-height: 18.5px;
	position: relative;
	top: -148px;
	right: 20px;
}

.text_17 {
	line-height: 18.5px;
	position: relative;
	top: -200px;
	right: 20px;
}

.text_20 {
	line-height: 19px;
	letter-spacing: 40px;
	position: relative;
	bottom: 250px;

}

.group_3 {
	margin-top: 8px;
}

.font_4 {
	font-size: 16px;
	font-family: PingFang TC;
	line-height: 14.5px;
	color: #3b3b3b;
}

.text_5 {
	line-height: 15px;
	position: relative;
	top: -9px;
}

.text_10 {
	line-height: 14.5px;
	position: relative;
	top: 9px;
}

.text_11 {
	line-height: 14px;
	position: relative;
	top: 32px;
}

.text_16 {
	line-height: 14.5px;
	position: relative;
	top: 41px;
}

.text_18 {
	line-height: 15px;
	position: relative;
	top: 54px;
}

.group_2 {
	padding: 10px 0 2px;
	width: 137px;
	border-left: solid 1px #d9d9d9;
	position: relative;
	left: 30px;
}

.group_4 {
	width: 98px;
}

.font_5 {
	font-size: 20px;
	font-family: PingFang TC;
	letter-spacing: 4px;
	line-height: 18.5px;
	color: #3b3b3b;
}

.text_6 {
	line-height: 18.5px;
	position: relative;
	top: 5px;
}

.text_7 {
	margin-right: 16px;
	position: relative;
	top: -15px;
}

.text_12 {
	line-height: 18px;
	position: relative;
	top: -5px;
}

.text_14 {
	line-height: 14.5px;
	position: relative;
	top: -25px;
}

.text_19 {
	line-height: 18.5px;
	position: relative;
	top: -15px;
}

.text_21 {
	margin-right: 16px;
	position: relative;
	top: -40px;
}

.group_5 {
	margin-top: 44px;
}

.text_8 {
	margin-right: 4px;
	position: relative;
	bottom: 290px;
	left: 285px;
}

.group_6 {
	margin-top: 48px;
}

.section_4 {
	background-color: #00000000;
	width: 8px;
	height: 4px;
}

.text_15 {
	line-height: 15px;
	position: relative;
	bottom: 278px;
	left: 285px;
}

.text_22 {
	margin-top: 76px;
	line-height: 14.5px;
	position: relative;
	bottom: 278px;
	left: 285px;
}

.text_23 {
	line-height: 19px;
}

.text_24 {
	margin-right: 186px;
	line-height: 19px;
	position: relative;
}

.section_5 {
	padding: 36px 16px 32px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #b5af9826;
	height: 297px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	flex: none;
	/* 取消自动扩展 */
	width: 850px;
	/* 设置固定宽度 */
}

.text_25 {
	margin-left: 4px;
	line-height: 18.5px;
}

.text_26 {
	line-height: 19px;
}

.text_28 {
	line-height: 18.5px;
}

.text_29 {
	line-height: 18.5px;
}

.section_6 {
	padding: 102px 0 90px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #b5af9826;
	width: 268px;
	height: 297px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;

}

.section_7 {
	position: relative;
	left: 600px;
	top: -65px;
	margin-bottom: -75px;
}

.text_27 {
	color: #3b3b3b;
	font-size: 70px;
	font-family: Roboto;
	font-weight: 900;
	line-height: 51px;
}

.text_30 {
	line-height: 18.5px;
}

.text_31 {
	position: relative;
	bottom: 100px;
	right: 15px;
}

.selector_1 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -42px;
	left: 130px;
}

.value {
	margin: 0 10px;
	width: 50px;
	text-align: center;
}

.selector_2 {
	display: flex;
	align-items: center;
	width: 20px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	top: -92px;
	left: 60px;
}

.selector_3 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	bottom: 140px;
	left: 165px;
}

.selector_4 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	bottom: 190px;
	left: 165px;
}

.selector_5 {
	display: flex;
	align-items: center;
	width: 200px;
	margin: 20px auto;
	font-size: 18px;
	position: relative;
	bottom: 240px;
	left: 165px;
}

.text_34 {
	position: relative;
	bottom: 270px;
	left: 110px;
}

.slidecontainer1 {
	position: relative;
	left: 80px;
	top: -15px;
}

.slidecontainer2 {
	position: relative;
	left: 80px;
	top: -25px;
	width: 100%;
	/* Adjust this value as needed */
	max-width: 400px;
	margin: 0 auto;
}

.slidecontainer3 {
	position: relative;
	left: 80px;
	top: -35px;
}

/* Slide container styling */


/* Slider styling */
.slider {
	-webkit-appearance: none;
	/* Remove default slider styles for Webkit browsers */
	width: 230%;
	height: 15px;
	background: #FFC300;
	/* Track color */
	border-radius: 10px;
	outline: none;
	/* Remove focus outline */
	opacity: 0.7;
	/* Slightly transparent */
	transition: opacity 0.3s;
}

.slider:hover {
	opacity: 1;
	/* Fully opaque on hover */
}

/* Slider thumb (the handle) styling */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Remove default thumb styles for Webkit browsers */
	appearance: none;
	width: 25px;
	/* Thumb width */
	height: 25px;
	/* Thumb height */
	border-radius: 50%;
	/* Make it a circle */
	background: #FFFFFF;
	/* Thumb color */
	cursor: pointer;
	/* Cursor on hover */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	/* Add a subtle shadow */
	transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
	background: #F0D5A5;
	/* Change color on hover */
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #F0D5A5;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	transition: background 0.3s;
}

.slider::-moz-range-thumb:hover {
	background: #F0D5A5;
}
